.idea/
.mypy_cache/
.ruff_cache/
.pytest_cache/
__pycache__/
.venv/
dist/
volume/
*.sqlite
.coverage
.coverage/
.DS_Store
bot_env
token.txt
postgres_password.txt
__pycache__
compose.yaml
docker/
pyrightconfig.json
